.App {
  text-align: center;
}

.movie {
  transition: transform 0.3s ease; 
  backdrop-filter: blur(10px); 

}
.movie:hover{

  transform: scale(1.05) rotateZ(2deg)  ;
}

.nav{
  height: 8vh;
  width:100vw;
  text-align: center;
  background-color: blue;
}

.nav a{
  font-size: 30px;
  text-decoration: none;
  padding: 20px;
  padding-left: 5vw;
  padding-right: 5vw;
  background-color: blue;
  color: aliceblue;
}

.nav a:hover{
  background-color: aqua;
}


